---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props {
    class?: string;
    size?: "sm" | "lg";
    timezone: string | undefined;
    pubDatetime: string | Date;
    modDatetime: string | Date | undefined | null;
    author?:string;
    tags?:string[];
}

const {
    pubDatetime,
    modDatetime,
    size = "sm",
    class: className = "",
    timezone: postTimezone,
    author,
    tags=[],
} = Astro.props;

/* ========== Formatted Datetime ========== */
const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
    postTimezone || SITE.timezone
);

const date = datetime.format("YYYY-MM-DD"); // e.g., '2025-03-20'
---

<div class:list={["opacity-80", className]}>
    {
        isModified && (
            <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
                Updated
            </span>
        )
    }
    <time
        class:list={["text-sm", { "sm:text-base": size === "lg" }]}
        datetime={datetime.toISOString()}>: {date}</time
    >

     {author && (
        <>
            <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>|</span>
            <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
                Author: [{author}]
            </span>
        </>
    )}

    {tags.length > 0 && (
        <>
            <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>|</span>
            <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
                Tags: {tags.map((tag, index) => (
                    <>[{tag}]{index < tags.length - 1 ? ' ' : ''}</>
                ))}
            </span>
        </>
    )}
</div>
